.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 80px;

    & h1 {
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 3em;
        text-align: center;
        color: var(--text);
    }

    &__block {
        width: 500px;
        height: 50px;
        margin: 5px;
        font-size: 20px;

        @media (max-width: 500px) {
            width: auto;
            height: auto;
            font-size: 13px;
        }
    }
}
