.container {
    position: relative;
    z-index: 1;
    margin: 10px;
    margin-top: 90px;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    transition: opacity 1s, filter 0.01s;

    &--blur {
        @media screen and (max-width: 799px) {
            transition: opacity 1s, filter 1s;
            opacity: 0.4;
            filter: blur(3px);
        }
    }
}
