.footer {
    position: absolute;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    bottom: 0;

    & span {
        border-radius: 50%;
    }

    &--icon {
        cursor: pointer;
        margin: 10px;
        color: var(--text) !important;
        &:hover {
            & * {
                color: var(--text-special);
            }
        }
    }
}
